<div id="page-content">
  <div class="box-content">
    <div class="container">
      <!-----------------Content-------------------->
      <article class="single-post">
        <div class="wrap-post">
          <!--Start Box-->
          <div class="entry-header text-center">
            <h1 class="entry-title">A Beginner Self Investor</h1>
            <!-- ////////////Content Box 02 -->
            <img src="assets/images/stock_chart_in.JPG">
            <span class="entry-meta">
              <ul class="list-inline link">
                <li>By <a href="#">Alex Trimpe</a></li>
                <li><a href="#">September, 13 2018</a></li>
                <li><a href="#">0 comments</a></li>
              </ul>
            </span>
          </div>
          <div class="entry-content">
            <p>Before I go into anything financial, I want to explicitly state
              that investing involves risk and I am
              risking my own money. I am not accepting any monetary payments
              for this piece and all of these decisions are
              on my own accord from 1 year's experience in investing. I do not
              recommend you follow what I say to a T, but
              take what I have to say, keep from it what you will, and adapt
              your own methods. While I have been relatively
              successful in this instance, I am in no way guaranteeing your
              success. Above all, keep a watchful eye over
              your portfolio.</p>

            <p>Now that is out of the way, I want to say that I am really
              excited about this topic. Anyone who knows me
              knows, I love talking stocks and the stock market. I am not a
              professional in the market and nor do I want to
              be. I just find it extremely interesting how the whole thing
              comes together and reacts to the world and
              sociological and economic changes. In the past year, I have
              really been exploring the new technology offered
              by Robinhood. If you have not heard of Robinhood, I really
              suggest you check it out. Robinhood offers
              completely free services for buying and selling stocks, options,
              and cryptocurrencies. They are continually
              expanding their services and offer this for no commissions or
              other fees. Since I know you are wondering, like
              I did, how Robinhood can make money, I will answer that for you.
              Just like a bank invests your money that you
              put into their establishment, Robinhood also invests the money
              that you have in your account that is sitting
              there not invested in anything (probably why they don't allow you
              to buy partial shares). They invest that bit
              of money which you aren't using, and that is how they make their
              returns. That might seem a bit shady, but
              seriously, who cares?? To pay no commission at all and trade on
              the fly, I will let them invest all of the
              money that I haven't. Your bank does it anyway so you already
              bought into that system. In any way, Robinhood
              is pretty cool and so far I fully back them. But since I am a new
              investor and fairly green into the world of
              investing, I wanted to offer my first-year advice for those who
              are also starting out so you don't have to
              repeat my same mistakes or you can learn from the lessons that I
              have learned.</p>

            <div class="center-content">
              <img style="width: 80%; height:100%" src="assets/images/robinhood.jpg" />
            </div>

            <p>When you read the advice given by older investors, they always
              say to look for the value. That means, look
              for a stock that is obviously undervalued given various
              conditions like current mismanagement, an apparent
              uptick in the specific market the business operates in, or other
              conditions that might make the value of that
              business increase. While that is definitely a good strategy and
              has proven effective, I think that the current
              shift in technology might allow for a new strategy that can pay
              off more quickly. The strategy I suggest is to
              find current "winners". A "winner" is a stock that is currently
              experiencing an uptick. This might be a recent
              rise (in the past month) an ongoing trend (past three months) or
              a long-term winner (this whole year has been
              up). For me, my winning range is a stock in the last year that
              has increased by at least 100% and is still
              doing well. These seem to be my bread and butter and I make some
              pretty quick and awesome money from them. My
              suggestion is to look at the trends of these stocks and follow
              the trend. Do not try to be the wise guy who
              has "found the bottom" because you never know when a stock is
              bottoming out. It will keep falling and you have
              no control over that. Be the one who doesn't let a trend
              completely pass them by and makes money on 3/4, 1/2
              or even 1/4 of that upward trend.</p>

            <p>A perfect example of what I am presenting is Warren Buffett and
              his purchase of Apple stock in 2016 and on.
              Since 2016, Warren has continually purchased more and more shares
              of Apple. Why would he do that? Because
              Apple is a winner! He doesn't need to predict future value, he
              knows that they are going to keep going up in
              value. Thus, why let the train pass you by completely when you
              can still take it to the end of the line
              instead of walking? This is what I am talking about. Find those
              stocks that are already doing well and hop on
              that train. It doesn't matter if you found the stock before
              anyone else did and bought it at its absolute
              lowest price. Sure that would make you cool, but it makes you
              stupid to kiss it goodbye forever because you
              are feeling down that you missed it at first. You are still
              saving time (aka making money), by hopping on the
              train!</p>

            <div class="center-content">
              <h3>Weibo</h3>
              <img src="assets/images/weibo.JPG" />
            </div>

            <p>My personal example comes from the Chinese social media company
              Weibo. Weibo was trading for about $100 when
              I bought it. Within no more than two months, Weibo hit $140 and I
              was ecstatic! I had made my first quick buck
              and I thought about the possibilities on how high it could go. I
              mean, it had a hugely successful year and
              that history pointed to another great one (or so I thought).
              However, that was not the case at all. Weibo
              quickly fell to $135 and I took my money and ran. This is what I
              consider to be a perfect execution of my
              strategy. Ride a wave up, follow that wave to the top, and get
              off after you see the wave has crested. While
              it is very unlikely that you will be able to know when and how
              the crest is going to come, just look at it as
              getting out before it is too late. Just like finding when a stock
              bottoms out, you will never be able to
              adequately pick when the peak value is, so don't even try. You
              will just be kicking yourself over and over
              again trying to get it right.</p>

            <p>My final tip and I cannot stress this enough, is DON'T PANIC.
              Man, have I really been upset when I sold
              something because it dipped 3% one morning just to watch it go
              all the way back up. I was so mad and I made
              that mistake multiple times. Sure I hopped back on and still made
              money with each buy and sell, but why not
              just hold it and not miss out on that whole upswing back to the
              top? Although I say not to panic, don't hold
              on to a bad thing. If something is dropping extremely fast (10%
              YIKES) or is consistently dropping day after
              day for a week, just let that little birdy free. You made you
              money and if it comes back, invite it back into
              your loving arms. But in the case like my first Weibo, when it
              doesn't come back, you look at that beauty of a
              trade with loving eyes forever.</p>

            <dl>
              <dt>My current picks:</dt>

              <dd><a href="https://finance.yahoo.com/quote/SQ" target="_blank">Square
                  (SQ) +245% yr</a></dd>
              <dd><a href="https://finance.yahoo.com/quote/PBF" target="_blank">PBF
                  Energy (PBF) +112</a></dd>
              <dd><a href="https://finance.yahoo.com/quote/AMD" target="_blank">AMD
                  (AMD) +140% yr</a></dd>
              <dd><a href="https://finance.yahoo.com/quote/SIEB" target="_blank">Siebert
                  Financial (SIEB) +417% yr</a></dd>
              <dd><a href="https://finance.yahoo.com/quote/FNKO" target="_blank">Funko
                  (FNKO) +218% yr</a></dd>
              <dd><a href="https://finance.yahoo.com/quote/ETSY" target="_blank">Etsy
                  (ETSY) +190% yr</a></dd>
            </dl>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
