<div id="page-content">
  <div class="box-content">
    <div class="container">
      <!-----------------Content-------------------->
      <article class="single-post">
        <div class="wrap-post">
          <!--Start Box-->
          <div class="entry-header text-center">
            <h1 class="entry-title">AdtechSystems.com</h1>
            <!-- ////////////Content Box 02 -->
            <img src="assets/images/adtechSystems.jpg">
            <span class="entry-meta">
              <ul class="list-inline link">
                <li>By <a href="#">Alex Trimpe</a></li>
                <li><a href="#">January, 3 2019</a></li>
                <li><a href="#">0 comments</a></li>
              </ul>
            </span>
          </div>
          <div class="entry-content">
            <p>
              In 2015, I was tasked with the project to redo the website for
              the company that I was interning for that summer. While I had
              experience with HTML and CSS, I had never taken on a project this
              large. Pair that with the fact that I would be the only one
              working on this project and I had a lot of my plate for the
              summer. While this was not my only responsibility for the summer,
              it was the largest that I had.
            </p>
            <p>
              We decided that we would use Wordpress, a technology which is
              very nice when it comes to flexibility and allowing for others to
              manipulate a site. It was particularly difficult to grasp your
              head around when you had really only ever worked with raw HTML,
              but I picked it up fairly quickly. I do really enjoy Wordpress
              (the technology aka <a target="_blank" href="https://wordpress.org">wordpress.org</a>
              not to be confused with the business <a target="_blank" href="https://wordpress.com">wordpress.com</a>)
              but it is much like a walled
              city, where life can be really easy and smooth within that walled
              city, but the moment you try to leave and bring things back
              in, life gets difficult.
            </p>
            <p>
              Regardless, I still really enjoyed the project and learned a
              wealth of information about DNS controls, server and database
              migrations, and just web technologies in general. I have since
              done more projects in Wordpress and continue my love | hate
              relationship with it to this day. I still maintain Adtech's
              website for them and add new things as they request. I love web
              technologies and enjoy learning new things going on with web
              frontend development.
            </p>
            <p>To check it out, click on the link below.</p>
            <h4 style="cursor: pointer; text-align: center;">
              <a href="http://adtechsystems.com" target="_blank">adtechsystems.com</a>
            </h4>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
