<div id="page-content">
  <div class="box-content">
    <div class="container">
      <!-----------------Content-------------------->
      <article class="single-post">
        <div class="wrap-post">
          <!--Start Box-->
          <div class="entry-header text-center">
            <h1 class="entry-title">Omega.BetaSigmaPsi.org</h1>
            <!-- ////////////Content Box 02 -->
            <img src="assets/images/omegaBSP.jpg">
            <span class="entry-meta">
              <ul class="list-inline link">
                <li>By <a href="#">Alex Trimpe</a></li>
                <li><a href="#">January, 3 2019</a></li>
                <li><a href="#">0 comments</a></li>
              </ul>
            </span>
          </div>
          <div class="entry-content">
            <p>
              When I was in school, I lived in a fraternity that was very much
              not the popular organization on campus (at
              the time, we changed that) but I immediately wanted to work on
              our brand image when I joined. We really
              lacked in conveying a consistent and quality brand and having
              just taken my first computer science classes,
              I felt that I could help out with that, even if just in a small
              way. My first objective was to attack the
              website as our first line of attack for creating the brand. This
              is what the guys had originally made
            </p>
            <img style="box-shadow: 0px 5px 10px #888888;"
              src="assets/images/omegaBSPOriginalWebsite.JPG" />
            <p style="margin: 20px 0px;">
              While using fraternity colors is nice, that was a bit harsh on
              the eyes, so I felt we could go with something a
              little less intense on the eyes. I did not start with the above
              photo, but I wanted to include it to show you
              the roots of where our current design inspiration had blossomed
              from. This was the page I inherited.
            </p>
            <img style="box-shadow: 0px 5px 10px #888888;"
              src="assets/images/omegaBSPOriginalWebsiteOriginal Website1.0.JPG" />
            <p style="margin: 20px 0px;">
              I spent my first, whole winter break making this website so that
              we could have a nicer aesthetic coming into
              the new year. It is raw HTML, CSS, JavaScript, and PHP. It does
              make for less fun to maintain, but this was
              one of the first real projects I took on and taught me a lot. I
              am still proud of it, and still, maintain
              this site for the guys.
            </p>
            <p>To check it out, click on the link below.</p>
            <h4 style="cursor: pointer; text-align: center;">
              <a href="https://omega.betasigmapsi.org"
                target="_blank">omega.betasigmapsi.org</a>
            </h4>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
