<div class="image-header" *ngIf="imageHeader"
  [style.backgroundImage]="'url('+ imageHeader +')'"></div>
<div id="page-content">
  <div class="box-content">
    <div class="container">
      <!-----------------Content-------------------->
      <article class="single-post">
        <div class="wrap-post">
          <!--Start Box-->
          <div class="entry-header text-center">
            <h1 class="entry-title">Who is Alex Trimpe?</h1>
            <!-- Content Box 02 -->
            <section class="box-content box-2 box-style-2">
              <div class="row">
                <div class="col-md-8">
                  <div class="ft-item wow fadeInLeft" data-wow-delay=".1s"
                    data-wow-duration="1s">
                    <div class="row">
                      <div class="col-md-1">
                        <div class="ft-icon">
                          <i class="fa fa-angle-right"></i>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <h5>Indiana University Alum</h5>
                        <p>
                          I am a spring 2018 graduate of Indiana University's
                          School of Informatics, Computing, and Design. Why
                          do I mention that? Not because I am tied closely with
                          the school, they are going to do fine without my
                          funding, but because it was my start into deeper tech
                          world.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="ft-item wow fadeInLeft" data-wow-delay=".1s"
                    data-wow-duration="1s">
                    <div class="row">
                      <div class="col-md-1">
                        <div class="ft-icon">
                          <i class="fa fa-angle-right"></i>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <h5>Young Professional</h5>
                        <p>
                          I have recently started my first real job in the
                          information technology field and I am really enjoying
                          being out in the professional world.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="ft-item wow fadeInLeft" data-wow-delay=".1s"
                    data-wow-duration="1s">
                    <div class="row">
                      <div class="col-md-1">
                        <div class="ft-icon">
                          <i class="fa fa-angle-right"></i>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <h5>Urban Explorer</h5>
                        <p>
                          After graduation, I knew that I wanted to live in a
                          city. During my years in college, I had the
                          opportunity to hold internships in both Milwaukee and
                          Boston, two vastly different cities. Knowing I
                          loved cities and loving the winter, what better city
                          than Detroit, MI to explore?
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="ft-b-image wow fadeIn" data-wow-delay=".1s"
                    data-wow-duration="1s">
                    <img src="assets/images/Pixel3_2.png"
                      class="img-responsive" />
                  </div>
                </div>
              </div>
            </section>
            <h3>About Me</h3>
          </div>
          <p>
            If those three bullet points above with that weird photo of me in
            a Google Pixel 3 were not enough to satisfy
            you, strap in because you are about to read much more about me. I
            am <b style="display:inline;" id="years"></b>
            years old and recently became a new resident in Detroit, MI. I am
            loving this city and having my first start of
            true adulthood in it. Currently, I work for Ford Motor Company in
            their Information Technology Ford College
            Graduate Program and am doing my first rotation as a developer.
            While I would not primarily think of myself as
            a developer, I am enjoying this opportunity and learning a lot as
            well.
          </p>
          <p>
            Even though I would not always think of myself as a developer, I
            do love to experiment with different
            technologies and give myself a new challege. That is part of the
            reason for this website. I actually just
            wanted to see if I could host a website on a Raspberry Pi
            successfully and this site if proof that you can
            indeed accomplish that. Enough nerdy stuff, this section is about
            me.
          </p>
          <div class="post-thumbnail-wrap">
            <div class="portfolio-box zoom-effect">
              <div class="smaller-img">
                <img src="assets/images/springBreak.jpg"
                  class="img-responsive image-shadow" alt="">
              </div>
            </div>
          </div>
          <p>
            During my time in college I studied Informatics at the School or
            Informatics Computing and Design at Indiana
            University and achieved minors in entrepreneurship and
            cybersecurity. While I really enjoyed what I studied,
            the absolute highlight for my collegiate experience and the
            memories I look back on the fondest, are those
            memories that I have in my fraternity Beta Sigma Psi. The
            leadership experience, worldly opportunities, and
            genuine friendships are what I miss most from those days. During my
            time there I was able to be the recruitment
            chair, social chair, and even president. I loved every minute of it
            and I try to continue to support my chapter
            and national fraternity to this day.
          </p>
          <p>
            Currently, I serve on my fraternity's national board at the
            recuritment director and am working on
            modernizing the branding on a historic and culturally rich
            fraternity. Now that I am getting settled into my
            new environment, I hope to expand my involvement into the local
            community, aquire my MBA and explore this
            beautiful planet.
          </p>
        </div>
      </article>
    </div>

  </div>

</div>
