<div id="page-content">

  <div class="box-content">
    <div class="container">
      <!-----------------Content-------------------->
      <article class="single-post">
        <div class="wrap-post">
          <!--Start Box-->
          <div class="entry-header text-center">
            <h1 class="entry-title">Moving To A New City After Graduation</h1>
            <!-- ////////////Content Box 02 -->
            <img src="assets/images/detroitNight.jpg">
            <span class="entry-meta">
              <ul class="list-inline link">
                <li>By <a href="#">Alex Trimpe</a></li>
                <li><a href="#">June, 30 2018</a></li>
                <li><a href="#">0 comments</a></li>
              </ul>
            </span>
          </div>
          <div class="entry-content">
            <p>
              There are few things in life that I looked forward to less than
              leaving my alma mater. I spent four years
              there doing what they said I should do, building my resume and
              learning so many valuable lessons. However,
              there was one saving grace to the fact that I was leaving all of
              my friends and comfort behind. That saving
              grace was the possibility to explore new things and learn about a
              new place that I would have to call home.
              After receiving a few job offers, I had the burdensome
              responsibility to find what place and organization I
              would let define the start of my professional career.
            </p>
            <p>
              <i>Look</i> I want to start this off by being completely
              transparent, I am full of biases like everyone
              else, and my personal bias is that I think I am always right and
              I pick the best things. While that may not
              always be the case, I think I am right about one thing. That one
              thing is that I chose the perfect place for a
              recent college graduate to live, <b>Detroit, MI</b>. Strap in
              because I am going to enlighten you on one of
              the secret treasures of this great country. Back in the day,
              Detroit Michigan was the Silicon Valley of its
              era. Promising jobs, prosperity, and the excitement of living in
              close proximity to such great innovation,
              Since those golden days, Detroit has definitely seemed better of
              them. Sure it went through a pretty rough
              period, but here is the thing, it is not at all what you think it
              is now.
            </p>
            <p>
              For people in the rest of the United States (where I am
              originally from), we all think that Detroit is
              reminiscent of some city that has barely survived a war and is
              now ridden with crime and lacking anything
              sustainable. What I found in this beautiful city is anything but.
              It is a place that is so vibrant and is
              trying so hard to be a haven that will attract new life and make
              it a great place to live. The thing that no
              one knows, IT IS!
            </p>
            <blockquote>"a place that is so vibrant and is trying so hard to be
              a haven that will attract new life"</blockquote>
            <img src="assets/images/detroitMural.jpg">
            <p>
              You know the benefits of moving to a city that was once 1.8
              million and is now 672,759? It is so wide open
              for possibilities. I'm not going to lie, there are definitely
              buildings which are abandoned and have been for
              quite some time, but there is also this beautiful side that has a
              reworked building or piece of art created
              right next to or out of that abandoned element. There are parks
              right along the river that are great for
              running and listening to concerts. There are trails in the city
              that were once railways but are now just
              beautiful paths with murals (See image above). There are downtown
              venues for great beer in the open and
              wonderful food that will help you get to the point where you can
              stay warm through the inevitably cold winter.
              You can throw a rock into Canada and you can find a great lake
              (haha get it?) in so many places nearby.
            </p>
            <p>
              Best of all, it is so CHEAP! Name one other city that has rent
              for under $1,0000/month and is within walking
              distance to the main downtown. The food is exquisite, recycling
              is free, and there is even a rail line that
              runs downtown! That is unheard of with a population this low. All
              4 major league sports teams are within
              walking distance and sight of each other and I am not sure there
              is even another city that has that
              possibility. I could keep going but here is the just of what I am
              trying to say.
            </p>
            <p>
              What I also cannot understand is that rarely anyone in Michigan
              moves here. I have literally asked
              co-workers why they didn't move to the city and what they said
              was that it was "too expensive". Really?
              Because they then proceed to tell me that they pay more to live
              where they live 45 minutes out. That is crazy!
              I love the city and I think it is just going to get better. This
              city is gorgeous and absolutely wonderful. If
              you can endure a northern winter, and I happen to love the
              winter, this city in the summer definitely pays
              dividends.
            </p>
            <img src="assets/images/IMG_20180616_215243_364.jpg">
            <p>
              As a recent college graduate who is looking for a great place to
              settle that has cheap living and amazing
              opportunities for young people, Detroit is absolutely your place.
              You can live in a place most young people
              want to live in but cannot afford, and you can stay busier than
              your schedule will allow. Take every
              opportunity to visit every place any local tells you to visit and
              make sure to explore the area. It is
              beautiful with all of the midwest hospitality included for no
              extra charge. Stop by the moment you get the
              change and may even <i>stay a while!</i>
            </p>
          </div>
        </div>
      </article>
    </div>

  </div>

</div>
