<div class="image-header" *ngIf="imageHeader"
  [style.backgroundImage]="'url('+ imageHeader +')'"></div>
<div id="page-content">
  <div class="box-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-2">
          <!-----------------Content-------------------->
          <article>
            <div class="wrap-post">
              <!--Start Box-->
              <div class="entry-header">
                <h2 class="entry-title"><a routerLink="/a_beginner_investor">A
                    Beginner Self Investor</a></h2>
                <span class="entry-meta">
                  <ul class="list-inline link">
                    <li>By <a href="#">Alex Trimpe</a></li>
                    <li><a href="#">September, 13 2018</a></li>
                    <li><a href="#">0 comments</a></li>
                  </ul>
                </span>
              </div>
              <div class="post-thumbnail-wrap">
                <div class="portfolio-box zoom-effect">
                  <a routerLink="/a_beginner_investor"><img
                      src="assets/images/stock_chart.JPG" class="img-responsive"
                      alt=""></a>
                </div>
              </div>
              <div class="entry-content">
                <p>
                  Anyone who knows me knows, I love talking stocks and the
                  stock market. I am not a professional in the
                  market and nor do I want to
                  be. I just find it extremely interesting how the whole thing
                  comes together and reacts to the world and
                  sociological and economic changes...
                </p>
                <a class="btn btn-skin" matRipple
                  routerLink="/a_beginner_investor">
                  Read More
                </a>
              </div>
            </div>
          </article>
          <article>
            <div class="wrap-post">
              <!--Start Box-->
              <div class="entry-header">
                <h2 class="entry-title">
                  <a routerLink="/moving_to_a_new_city">
                    Moving to a New City After Graduation
                  </a>
                </h2>
                <span class="entry-meta">
                  <ul class="list-inline link">
                    <li>By <a href="#">Alex Trimpe</a></li>
                    <li><a href="#">June, 30 2018</a></li>
                    <li><a href="#">0 comments</a></li>
                  </ul>
                </span>
              </div>
              <div class="post-thumbnail-wrap">
                <div class="portfolio-box zoom-effect">
                  <a routerLink="/moving_to_a_new_city"><img
                      src="assets/images/detroitNight.jpg"
                      class="img-responsive" alt=""></a>
                </div>
              </div>
              <div class="entry-content">
                <p>
                  There are few things that I looked forward to less than
                  leaving my alma mater and there was only one
                  saving grace to the fact that I was leaving all of my friends
                  and comfort behind. That saving grace was the
                  possibility to explore new things and learn about a new
                  place…
                </p>
                <a class="btn btn-skin" matRipple
                  routerLink="/moving_to_a_new_city">
                  Read More
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
