<div class="image-header" *ngIf="imageHeader"
  [style.backgroundImage]="'url('+ imageHeader +')'"></div>
<div id="page-content">
  <div class="box-content">
    <div class="container">
      <!-----------------Content-------------------->
      <article class="single-post">
        <div class="wrap-post">
          <!--Start Box-->
          <div class="entry-header">
            <h1 class="entry-title  text-center">Projects</h1>
            <!-- ////////////Content Box 02 -->
            <section class="box-content box-2 box-style-2 projects-box">
              <div class="projects-column">
                <div class="">
                  <a routerLink="/projects/Adtechsystems">
                    <div class="projects-section">
                      <div class="projects-icon">
                        <div class=" ft-icon">
                          <i class="fa fa-angle-right"></i>
                        </div>
                      </div>
                      <div class="projects-content">
                        <h5>AdtechSystems.com</h5>
                        <p>
                          This was a web project that I was able to do when I
                          went through and internship with Adtech Systems
                          in Boston. I had much of the creative control for the
                          project and built it entirely myself.
                        </p>
                        <img src="assets/images/intern_480x380.JPG">
                      </div>
                    </div>
                  </a>
                  <a routerLink="projects/omega-beta-sigma-psi">
                    <div class="projects-section">
                      <div class="projects-icon">
                        <div class="ft-icon">
                          <i class="fa fa-angle-right"></i>
                        </div>
                      </div>
                      <div class="projects-content">
                        <h5>Omega.BetaSigmaPsi.org</h5>
                        <p>
                          During my time at my alma mater, this project was a
                          labor of love that I took on and still manage to
                          this day. Adapted from a free template, most of the
                          code is self written and largely expanded.
                        </p>
                        <img src="assets/images/betasig.JPG">
                      </div>
                    </div>
                  </a>
                </div>
                <div class="">
                  <a routerLink="/projects/alexwtrimpe">
                    <div class="projects-section">
                      <div class="projects-content">
                        <h5>AlexWTrimpe.com</h5>
                        <p>
                          Guess what, I wrote this site as well. Since it is
                          so fresh and a new, much of the origional code
                          from the template still remains, but fear not, I have
                          large ambitions for this site.
                        </p>
                        <img src="assets/images/alexwtrimpe.JPG">
                      </div>
                      <div class="projects-icon">
                        <div class="ft-icon projects-icon">
                          <i class="fa fa-angle-left"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a routerLink="/projects/arduino">
                    <div class="projects-section">
                      <div class="projects-content">
                        <h5>Arduino</h5>
                        <p>
                          This was honestly just a fun class project that I
                          was able to work with Arduino for the first time
                          and involved a lot more dimensions of technology than
                          just the typical programming.
                        </p>
                        <img src="assets/images/arduino.jpg">
                      </div>
                      <div class="projects-icon">
                        <div class="ft-icon projects-icon">
                          <i class="fa fa-angle-left"></i>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </section>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
